doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    form(action="/login" method="POST")
      .container
        h1 Kitap Ekleme
        p Lütfen eklemek istediğiniz kitabın bilgilerini giriniz.
        hr
        label(for="bookname")
          b Kitap İsmi
        input(type="text" placeholder="Kitap adını giriniz:" name="bookname" required="")
        button.imagebtn(type="submit") Fotograf Ekle
        hr
        p
        button.addbtn(type="submit") Giriş
      .container.signin
        p
          | Hesabınız yok mu?
          a(href="register") Hesap oluştur!