doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/addbook.css')
  body
    form(action="/admin/addbook" method="POST" enctype="multipart/form-data")
      .container
        h1 Kitap Ekleme
        p Lütfen eklemek istediğiniz kitabın bilgilerini giriniz.
        hr
        label(for="bookname")
          b Kitap İsmi
        input(type="text" placeholder="Kitap adını giriniz:" autocomplete="off" name="bookname" required="")
        input#img(type="file" name="bookImg" accept="image/*")
        hr
        p
        button.addbtn(type="submit") Ekle
