extends layout

block content
  .container
    .tablecont
      table#data-table.table.table-dark.table-striped.table-bordered(style="width:100%")
        thead
          tr
            th ISBN
            th Name
            th
        tbody
          each book in books
            tr(data-book=book)
              td.tablecenteredcell= book.ISBN
              td.tablecenteredcell= book.Name          
              td
                if user && user.Books.some(b => b.Book.equals(book._id))
                  button.btn.btn-success.formbtn(type="button") Bu kitaba sahipsin
                else
                  button.btn.btn-primary.formbtn.kitapAl(type="button") Al
        tfoot
          tr
            th
            th ISBN
            th Name