extends layout

block content
  if session.user
    .content
      .card
        .icon
          i.material-icons.md-36 search
        p.title Kitap Ara
        p.text Kütüphaneden kitap arayın.
      .card
        .icon
          i.material-icons.md-36 book
        p.title Kitap Al
        p.text Kütüphaneden kitap alın.
      .card
        .icon
          i.material-icons.md-36 settings_back
        p.title Kitap Ver
        p.text Aldığınız bir kitabı iade edin.
  else
    .content
      .card
        .icon
          i.material-icons.md-36 face
        p.title Giriş Yap
        p.text Hali hazırda bir hesabın var mı? Giriş yap.
      .card
        .icon
          i.material-icons.md-36 favorite_border
        p.title Kayıt Ol
        p.text Bir hesabın yok mu? Hemen kayıt ol.
