doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/register.css')
  body
    form(action="/register" method="POST")
      .container
        h1 Kayıt Ol
        p Lütfen kayıt olabilmek için tüm formu doldurunuz.
        hr
        label(for="uname")
          b Kullanıcı Adı
        input(type="text" placeholder="Enter Email" name="uname" required="")
        label(for="psw")
          b Şifre
        input(type="password" placeholder="Enter Password" name="psw" required="")
        label(for="psw_repeat")
          b Şifreyi tekrar giriniz
        input(type="password" placeholder="Repeat Password" name="psw_repeat" required="")
        hr
        p
          | Resmi kütüphane kurallları:  
          a(href="https://kutuphane.ogu.edu.tr/Sayfa/Index/9/kutuphane-kurallari") Kütüphane Kuralları
          | .
        button.registerbtn(type="submit") Üye Ol
      .container.signin
        p
          | Zaten bir hesabım var mı? 
          a(href="login") Oturum aç!
          | .
